/** パソコン(デフォルト) **/
body {
    background-color: azure;
}
.scroll{
    height: 90vh;
    width: 50vh;
    overflow: auto;
}
.chatback{
    height: 90vh;
    width: 50vh;
    background-color: lightcyan;
}
.container{
    display: flex;
    background-color: azure;
}
.left, .right {
    flex: 1;
}
ul {
    white-space: pre-wrap;
}

/** タブレット **/
/* @media screen and (max-width: 1024px) {
    p {color : green}
} */

/** スマホ縦 **/
@media screen and (max-width: 480px) {
    .scroll{
        height: 90vh;
        width: 50vh;
        overflow: auto;
    }
    .chatback{
        height: 90vh;
        width: 50vh;
        background-color: gainsboro;
    }
    .container{
        display: flex;
    }
    .left, .right {
        flex: 1;
    }
    ul {
        white-space: pre-wrap;
    }
}

