<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>sample</title>
    <script>
        const protocol = location.protocol
        const domain = location.hostname
        const port = location.port

        // Roomの一覧を取得
        function getRooms() {
            document.getElementById('rooms').textContent = '';
            fetch(protocol+"//"+domain+":"+port+"/rooms")
                .then(response => response.json())
                .then(data => {
                    const rooms = data.roomslist;

                    const roomListElement = document.getElementById("rooms");
                    rooms.forEach(room => {
                        const listItem = document.createElement('li');
                        listItem.textContent = room;
                        roomListElement.appendChild(listItem);
                    });
                })
                .catch(error => console.error('Error fetching room data:', error));
        }

        // サーバーページに遷移
        function enterRoom() {
            let sendroomid = document.getElementById("enter_roomid");
            let rid = sendroomid.value;
            if (rid == "") {
                return;
            }
            window.location.href = protocol + "//" + domain + ":" + port + '/room?roomid=' + rid;

            sendroomid.value = "";
        }
    </script>
</head>
<body>

{{.Message}}

<h2>Room一覧</h2>
<ul id="rooms"></ul>
<button onclick="getRooms()">更新</button>

<p>作成するチャットルームのIDを入力してください。(1 ~ 999)</p>
<form method="POST" action="/" required="required">
    <input type="number" min="1" max="999" name="create_roomid">
    <input type="submit" value="作成">
</form>

<p>参加するチャットルームのIDを入力してください。(1 ~ 999)</p>
<input type="number" min="1" max="999" id="enter_roomid">
<button onclick="enterRoom()">参加</button>

</body>
</html>
