<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>sample</title>
    <script>
        const wsprotocol = "ws:";
        const protocol = location.protocol;
        const domain = location.hostname;
        const port = location.port;

        let roomid = "";
        let Name = "";

        // サーバーに接続
        window.onload = function () {
            socket = new WebSocket(wsprotocol + "//" + domain + ":" + port + "/ws");
            socket.onopen = function () {
                joinRoom();
            };
            socket.onmessage = function (event) {
                // サーバーからメッセージを受け取る
                const msg = JSON.parse(event.data);
                updateMessage(msg.roomID, msg.message, msg.name, msg.toname);
            };
        };

        function joinRoom() {
            let url_string = location.href;
            let url = new URL(url_string);
            roomid = url.searchParams.get("roomid");
            document.getElementById("current_server").textContent = roomid

            fetch(protocol+"//"+domain+":"+port+"/users?roomid="+roomid)
                .then(response => response.json())
                .then(data => {
                    const users = data.userslist;

                    console.log(users);

                    while (true) {
                        const NameInput = prompt("Enter your Name:");
                        if (NameInput) {
                            Name = NameInput
                            document.getElementById("username").textContent = Name

                            const include = users.includes(Name);
                            console.log(include);
                            if (include) {
                                alert("そのユーザー名は既に使用されています。");
                                Name = "";
                                continue;
                            };
                            break;
                        } else {
                            Name = "匿名"
                            document.getElementById("username").textContent = Name
                            break;
                        };
                    };

                    const message = { roomID: roomid, name: Name};
                    socket.send(JSON.stringify(message));
                })
                .catch(error => {
                    console.error('Error fetching user data:', error);
                    const message = { roomID: roomid, name: Name};
                    socket.send(JSON.stringify(message));
                });
        }

        // メッセージ欄を更新する
        function updateMessage(roomID, message, name, toname) {
            let listName = document.createElement("li");
            let nameText = document.createTextNode(roomID + " : " + name + "→" + toname);
            listName.appendChild(nameText);

            let messages = document.createElement("ul");

            let listMessage = document.createElement("li");
            let messageText = document.createTextNode(message);
            listMessage.appendChild(messageText);

            messages.appendChild(listMessage);

            listName.appendChild(messages);

            let ul = document.getElementById("messages");
            ul.appendChild(listName);
        }

        // サーバーにメッセージを送信する
        function send() {
            let sendMessage = document.getElementById("message");
            let msg = sendMessage.value;
            if (msg == "") {
                return;
            }
            let sendToName = document.getElementById("toname");
            let stn = sendToName.value;
            if (stn != "") {
                const message = { roomID: roomid, message: msg, name : Name, toname : stn};
                socket.send(JSON.stringify(message));
                sendMessage.value = "";
                return;
            }
            const message = { roomID: roomid, message: msg, name : Name, toname : ""};
            socket.send(JSON.stringify(message));
            sendMessage.value = "";
        }

        // Room内のユーザーの一覧を取得
        function getUsers() {
            document.getElementById('users').textContent = '';
            fetch(protocol+"//"+domain+":"+port+"/users?roomid="+roomid)
                .then(response => response.json())
                .then(data => {
                    const users = data.userslist;

                    const userListElement = document.getElementById("users");
                    users.forEach(user => {
                        const listItem = document.createElement('li');
                        listItem.textContent = user;
                        userListElement.appendChild(listItem);
                    });
                })
                .catch(error => console.error('Error fetching user data:', error));
        }
    </script>
</head>
<body>

{{.Message}}

<h2>現在のサーバー</h2>
<p id="current_server"></p>

<h2>ユーザー名</h2>
<p id="username"></p>

<h2>参加ユーザー一覧</h2>
<ul id="users"></ul>
<p><button onclick="getUsers()">更新</button></p>

<h2>プライベートチャット送信先ユーザー名</h2>
<input type="text" id="toname">

<!-- 送信欄 -->
<p>メッセージを入力してください。</p>
<input type="text" id="message"><button onclick="send()">送信</button>

<p><a href="/">戻る</a></p>

<!-- メッセージ欄 -->
<h2>メッセージ一覧</h2>
<ul id="messages"></ul>

</body>
</html>
