<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>sample</title>
    <script src="/view/script/room.js"></script>
</head>
<body>

{{.Message}}

<h2>現在のサーバー</h2>
<p id="current_server"></p>

<h2>ユーザー名</h2>
<p id="username"></p>

<h2>参加ユーザー一覧</h2>
<ul id="users"></ul>
<p><button onclick="getUsers()">更新</button></p>

<h2>プライベートチャット送信先ユーザー名</h2>
<input type="text" id="toname">

<!-- 送信欄 -->
<p>メッセージを入力してください。</p>
<input type="text" id="message"><button onclick="send()">送信</button>

<p><a href="/">戻る</a></p>

<!-- メッセージ欄 -->
<h2>メッセージ一覧</h2>
<ul id="messages"></ul>

</body>
</html>
